# Ignore bundler config.
/.bundle

# Ignore npm installed Node.js packages.
/node_modules

# Ignore Bower installed components.
/vendor/assets/components

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore all generated static assets.
/public/assets
