// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.disabled {
  cursor: not-allowed;
  color: #ccc;
}

.chosen-container {
  width: 300px !important;
  padding-top: 5px;

  .chosen-results {
    max-height: 250px;
  }
}

.description-tooltip + .tooltip {
  max-width: 200px;

  > .tooltip-inner {
    text-align: left;
    background-color: #428bca;
    border: 1px solid #357ebd;
    color: #ffffff;

    ul {
      padding-left: 25px;
      margin-bottom: 0px;
    }
  }

  > .tooltip-arrow {
    border-right-color: #357ebd;
  }
}
