<div class="form-group col-sm-6 select optional patient_surgery">
    <label for="patient_specialty" class="optional col-sm-2 control-label">Surgery</label>
    <div class="col-sm-10">
        <span data-bind="ifnot: specialtiesAreAvailable()">Loading...</span>
        <div data-bind="if: specialtiesAreAvailable">
            <select id="patient_specialty" data-bind="
            chosen: {placeholder: 'Select a surgical specialty...'},
            value: selectedSpecialty,
            options: specialtyOptions,
            optionsText: 'name'">
            </select>
        </div>
        <div data-bind="if: operationsAreAvailable">
            <select id="patient_operation" data-bind="
            chosen: {placeholder: 'Select an operation...'},
            value: selectedOperation,
            options: operationOptions,
            optionsText: 'name'">
            </select>
        </div>
        <!-- ko if: selectedOperation -->
        <input type="hidden" name="patient[surgery_id]" data-bind="attr: { value: selectedOperation().surgery_id }">
        <input type="hidden" name="specialty_id" data-bind="attr: { value: selectedSpecialty().id }">
        <input type="hidden" name="operation_id" data-bind="attr: { value: selectedOperation().id }">
        <!-- /ko -->
    </div>
</div>
